<h1>Pdf#pdf_mailer</h1>

<p>
  <%= @greeting %>, find me in app/views/pdf_mailer/pdf_mailer.html.erb<br/><br/>
  A new PDF was sent for Wooo Hoooo JB <%=@job.id%>

</p>

<p>
  Thanks<br/>
  White Shark Ltd
</p>



